.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .flex-item {
    margin-right: 10px;
    margin-left:  10px;
    margin-bottom:40px;
    position: relative;
    width: 400px;
    img {
      height: auto;
      max-width: 100%;
    }
    p {
      color: #666;
      margin-bottom: 1em;
      padding-bottom: 50px;
    }
    .button {
      bottom: 0;
      display: flex;
      flex-direction: column;
      left:0;
      position: absolute;// .button の下揃えを position:absolute を使わない方法はないかな〜？
      width: 100%;
      a {
        align-self: center;
        border: 1px solid;
        color: tomato;
        padding: .5em 0;
        text-align: center;
        text-decoration: none;
        width: 100%;
      }
    }
  }
}
